body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.escena-peanuts {
    width: 100vw;
    height: 100vh;
    border: 8px solid black; 
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.cielo {
    background-color: #add8e6;
    height: 65%;
    position: absolute;
    width: 100%;
    top: 0;
}

.cesped {
    background-color: #8fbc8f;
    height: 35%;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.casita-contenedor {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 200px;
    z-index: 10;
}

.techo {
    background-color: #ff4500;
    height: 50px;
    width: 100%;
    border: 6px solid black;
    border-bottom: none;
    box-sizing: border-box;
    transform: skewX(-20deg); 
    position: absolute;
    top: -25px;
    left: 15px;
}

.cuerpo {
    background-color: white;
    height: 180px;
    width: 100%;
    border: 6px solid black;
    border-top: none;
    box-sizing: border-box;
    position: relative;
}

.puerta {
    background-color: black;
    width: 50px;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 20px;
    border-top-right-radius: 5px; 
}
