/* -------------------------------------- */
/* CONFIGURACIÓN BASE Y FONDO LIMPIO */
/* -------------------------------------- */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.escena-peanuts {
    width: 100vw;
    height: 100vh;
    border: 8px solid black; 
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

/* -------------------------------------- */
/* FONDO: CIELO Y CÉSPED (El estilo que sí funciona) */
/* -------------------------------------- */
.cielo {
    background-color: #add8e6; /* Azul claro */
    height: 70%;
    position: absolute;
    width: 100%;
    top: 0;
}

.cesped {
    background-color: #8fbc8f; /* Verde oliva/bosque */
    height: 30%;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* -------------------------------------- */
/* POSICIONAMIENTO DE LA IMAGEN IDEAL */
/* -------------------------------------- */
.ilustracion-central {
    position: absolute;
    width: 60%; /* La imagen ocupará el 60% del ancho de la pantalla */
    height: auto;
    
    /* CENTRADO PERFECTO en la escena */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
    /* Le añadimos el borde grueso para integrarla en el estilo cómic */
    border: 5px solid black;
    box-shadow: 5px 5px 0 black;
}
