/* -------------------------------------- */
/* ESTILO GLOBAL Y ESCENA */
/* -------------------------------------- */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.escena-peanuts {
    width: 100vw;
    height: 100vh;
    border: 10px solid black; /* Borde más grueso */
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

/* -------------------------------------- */
/* FONDO: CIELO Y CÉSPED (Colores más vivos) */
/* -------------------------------------- */
.cielo {
    background-color: #a8d5e8; /* Azul cielo un poco más vivo */
    height: 70%; /* Más cielo */
    position: absolute;
    width: 100%;
    top: 0;
}

.cesped {
    background-color: #7baf6c; /* Verde campo más natural */
    height: 30%;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* -------------------------------------- */
/* NUBES (Estilo Dibujado a Mano) */
/* -------------------------------------- */
/* Usamos el mejor método CSS para simular el dibujo de nube */
.nube {
    position: absolute;
    background: transparent;
    border: 4px solid black;
    border-radius: 50%;
    box-shadow: 0 0 0 5px white, 0 0 0 4px black; 
    z-index: 5;
}

.nube-1 { top: 10%; left: 8%; width: 150px; height: 100px; transform: scale(0.9); }
.nube-1::before, .nube-1::after { content: ''; background: white; border: 4px solid black; border-radius: 50%; position: absolute; }
.nube-1::before { width: 80px; height: 60px; top: -30px; left: 10px; }
.nube-1::after { width: 100px; height: 80px; top: -10px; right: -20px; }

.nube-2 { top: 5%; left: 50%; width: 120px; height: 80px; transform: scale(1.2); }
.nube-2::before { content: ''; background: white; border: 4px solid black; border-radius: 50%; position: absolute; width: 70px; height: 50px; top: -20px; right: 10px; }

.nube-3 { top: 25%; right: 5%; width: 180px; height: 110px; transform: scale(0.8); }
.nube-3::before { content: ''; background: white; border: 4px solid black; border-radius: 50%; position: absolute; width: 90px; height: 70px; top: 0px; left: -20px; }


/* -------------------------------------- */
/* LA CASITA DE SNOOPY (CENTRADA) */
/* -------------------------------------- */
.casita-contenedor {
    position: absolute;
    bottom: 25%; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 300px; /* Tamaño grande y central */
    height: 200px;
    z-index: 10;
}

.techo {
    background-color: #d82e2e; 
    height: 50px;
    width: 100%;
    border: 5px solid black;
    border-bottom: none;
    box-sizing: border-box;
    transform: skewX(-20deg); 
    position: absolute;
    top: -25px;
    left: 15px;
}

.cuerpo {
    background-color: white;
    height: 180px;
    width: 100%;
    border: 5px solid black;
    border-top: none;
    box-sizing: border-box;
    position: relative;
}

.puerta {
    background-color: black;
    width: 50px;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 20px;
    border-top-right-radius: 5px; 
}

/* Pasto al frente (Estilo de rayones) */
.pasto-frente {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 20px;
    background: transparent;
    border-top: 4px solid black;
    clip-path: polygon(0 100%, 10% 50%, 20% 80%, 30% 30%, 40% 90%, 50% 10%, 60% 70%, 70% 40%, 80% 95%, 90% 20%, 100% 100%);
}

/* -------------------------------------- */
/* SNOOPY Y BURBUJA (Estilo de dibujo simplificado) */
/* -------------------------------------- */
.snoopy-zona {
    position: absolute;
    top: -80px; 
    left: 30%;
    z-index: 15;
    transform: rotate(3deg);
}

.snoopy {
    width: 80px;
    height: 60px;
    background: white;
    border: 4px solid black;
    border-radius: 50%;
    position: relative;
}
.snoopy::after {
    content: '';
    position: absolute;
    width: 20px; height: 40px;
    background: black;
    border-radius: 0 50% 50% 0;
    top: -10px; right: 0;
    transform: rotate(10deg);
}

.burbuja {
    position: absolute;
    top: -80px;
    left: 60px;
    width: 80px; height: 50px;
    background: white;
    border: 4px solid black;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
}

.burbuja::before { content: ''; position: absolute; width: 10px; height: 10px; background: white; border: 4px solid black; border-radius: 50%; bottom: -10px; left: 10px; }
.burbuja::after { content: ''; position: absolute; width: 5px; height: 5px; background: white; border: 4px solid black; border-radius: 50%; bottom: -20px; left: 5px; }

.icono { font-size: 1.2em; position: absolute; }
.corazon { top: 10px; left: 10px; }
.nota { top: 20px; right: 10px; }
